#**Q1**

In [2]:
list_of_tuples = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted_list = sorted(list_of_tuples, key=lambda x: x[1], reverse=True)

print("Sorted list of tuples based on integer value (runs scored):")
for item in sorted_list:
    print(item)

Sorted list of tuples based on integer value (runs scored):
('Sachin Tendulkar', 34357)
('Ricky Ponting', 27483)
('Jack Kallis', 25534)
('Virat Kohli', 24936)

#**Q2**

In [3]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squares = list(map(lambda x: x**2, numbers))

print("Original numbers:", numbers)
print("Squares of the numbers:", squares)

Original numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Squares of the numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#**Q3**

In [4]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

tuple_of_strings = tuple(map(lambda x: str(x), numbers))

print("Given list of integers:", numbers)
print("Tuple of strings:", tuple_of_strings)

Given list of integers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Tuple of strings: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

#**Q4**

In [5]:
from functools import reduce

def multiply(x, y):
    return x * y

numbers = list(range(1, 26))

product = reduce(multiply, numbers)

print("Product of numbers from 1 to 25:", product)

Product of numbers from 1 to 25: 15511210043330985984000000

#**Q5**

In [6]:
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

filtered_numbers = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers))

print("Numbers divisible by both 2 and 3:", filtered_numbers)

Numbers divisible by both 2 and 3: [6, 60, 90, 120]

#**Q6**

In [7]:
words = ['python', 'php', 'aba', 'radar', 'level']

palindromes = list(filter(lambda x: x == x[::-1], words))

print("Palindromes in the list:", palindromes)

Palindromes in the list: ['php', 'aba', 'radar', 'level']